page-login {

.getstart
    {
    background-image: url('../assets/imgs/bg.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;

    }
    ::-webkit-scrollbar {
display: none;
}
ion-select{
        max-width: 70% !important;
    }

}
